#menubar_div {
   border: 2px solid black;
   padding: 12px 4px;
}

.menubar {
   display: inline;
   border: 1px black solid;
   padding: 10px;
}

#banner {
   height: 160px;
   background-color: #800000;
   color: white;
   text-align: center;
   font-size: 4em;
}